/* Footer.css */

/* Existing CSS */
.footer-container {
    background-color: #64CCC9;
    padding: 4px 0;
    text-align: center;
}
  
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6px;
}
  
.company-name {
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
}
  
.contact-info {
    margin-top: 1px;
    color: #ffffff;
}

/* Media Queries */

/* For tablet screens */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
    .company-name {
        font-size: 14px;
    }
    .contact-info {
        font-size: 12px;
    }
}

/* For mobile screens */
@media (max-width: 480px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
    .company-name {
        font-size: 12px;
    }
    .contact-info {
        font-size: 10px;
    }
}
