/* General styles */
body {
  background-color: #ffffff;
}

.Complete,
.Rest {
  font-family: 'Rubik', sans-serif;
}

.Complete {
  color: #E55204;
  margin: 10px 0 20px 10px;
}

.Rest {
  color: rgb(0, 0, 0);
  margin-top: 5px;
}

/* Flex container styles */
.container,
.parent-container {
  display: flex;
  align-items: center;
}

.container-wrapper {
  display: flex;
  justify-content: flex-start;  /* Align to the left */
  align-items: flex-start;  /* Align to the top */
  width: calc(100% - 250px);  /* Full width minus sidebar width */
  height: 100vh;
}

.container {
  text-align: left;  /* Left-align the text */
  width: 100%;  /* Full width */
  height: auto;  /* Auto height */
  padding: 10px;
  margin: 0;  /* No margin */
}

.parent-container {
  flex-direction: column;
  justify-content: flex-start;  /* Align to the top */
  width: 100%;  /* Full width */
  height: 100vh;
  background-color: #FFFFFF;
}

/* Medical Questions styles */
.medical-questions-title {
  background-color: #64CCC9;
  padding: 10px;
  font-size: 30px;
  margin-top: 10px;
  width: 100%;  /* Full width */
}

/* Additional flex container for medical questions */
.flex-container {
  display: flex;
  align-items: flex-start;  /* Align to the top */
  justify-content: flex-start;  /* Align to the left */
  width: 100%;  /* Full width */
}
