.Complete {
  color: #E55204;
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 20px;
  text-transform: uppercase;
  position: sticky;
  font-family: 'Rubik', sans-serif;
}

.Rest {
  color: #333;
  font-family: 'Rubik', sans-serif;
  margin-top: 0;
  font-size: 1.2rem;
  position: sticky;
  font-family: 'Rubik', sans-serif;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #f8f9fa;
  font-family: 'Rubik', sans-serif;
}

.medical-questions-title {
  background-color: #64CCC9;
  width: 100%;
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  text-align: left;
  padding: 20px;
  color: #fff;
  border-radius: 8px;
  margin-top: -50px;
  font-family: 'Rubik', sans-serif;
}

button.next, button.previous {
  width: 100px;  /* specify the width */
  height: 40px;  /* specify the height */
  background-color: #8D4E7B;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.next-button{
  margin-bottom: 90px;
  padding: 10px 30px;
  background-color: #8D4E7B;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.next-button:hover, button.next:hover, button.previous:hover {
  background-color: lightgray;
}

.jsonForms {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0;
  width: 50%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  font-family: 'Rubik', sans-serif;;
}

.section {
  flex: 1;
  min-width: 100px;
  margin: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
  font-family: 'Rubik', sans-serif;;

}

/* Media Query */
@media (max-width: 900px) {
  .Complete, .Rest {
    text-align: center;
    margin-left: 0;
  }

  .parent {
    padding: 1rem;
  }

  .jsonForms {
    flex-direction: column;
    align-items: stretch;
  }

  .section {
    min-width: 100%;
    margin-right: 0;
  }

}

h2{
  font-family: 'Rubik', sans-serif;
}

h3{
  font-family: 'Rubik', sans-serif;
}

h4{
  font-family: 'Rubik', sans-serif;
}

button.previous-button, button.next-section-button{
  margin-bottom: 1em;
  padding: 10px 30px;
  background-color: #8D4E7B;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}