.Complete{
    color: #E55204;
    font-family: 'Rubik', sans-serif;
    margin-top: 20px;
    margin-top: 20px;
    margin-bottom: 80px;
    margin-left: 20px;
}

.Rest{
color:black ;
font-family: 'Rubik', sans-serif;
margin-top: 20px;
}

.container {
    width: 200px; 
    height: 200px;
    padding: 20px;
    display: flex;
    margin-left: 60px;
    align-items: center;
    margin-top: 60px;
   
  }
  

.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #F2F2F2; */
    
  }


  .medical-questions-title {
    background-color: #64CCC9;
    margin-top: -150px; 
    padding: 5px 1370px;
    margin-right: 1380px;
    margin-left: 30px;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;

  }
  .
.next-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 9px;
} 

.next-button:hover {
  background-color: #0056b3;
} 
