.Complete{
    color: #E55204;
    font-family: 'Rubik', sans-serif;
    margin-top: 50px;
    margin-bottom: 80px;
    margin-left: 20px;
}

.Rest{
color:black ;
font-family: 'Rubik', sans-serif;
margin-top: 20px;
}

.container {
    width: 200px; 
    height: 200px;
    padding: 20px;
    display: flex;
    margin-left: 60px;
    align-items: center;
    margin-top: 60px;
   
  }

.parent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F2F2F2;
    
  }


  .medical-questions-title {
    background-color: #64CCC9;
    margin-top: -400px; 
    padding: 35px 1400px;
    margin-right: 1380px;
    margin-left: 200px;
    font-family: 'Rubik', sans-serif;
    font-size: 40px;

  }
  