/* .main-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.profile-container {
  flex: 1;
  max-width: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-picture {
  max-width: 100px;
  border-radius: 20%;
}

.name-info {
  margin-top: 10px;
}

h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

p {
  color: #333333;
  margin: 0;
}

.profile-content {
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-top: 2px;
  margin-bottom: 20px;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-row {
  display: flex;
  justify-content: space-between;
}

.buttons-container button {
  width: 100px;
  height: 40px;
  padding: 10px;
  background-color: #E55204;
  color: #ffffff;
  border: none;
  border-radius: 45%;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttons-container button:hover {
  background-color: #e5a904;
}

.dashboard-container {
  flex: 1;
  display: flex;
  margin-top: 20px;
}

.dashboard-left {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
}

.dashboard-main {
  flex: 3;
  padding: 20px;
  border: 1px solid #ccc;
}

.dashboard-icon {
  margin-bottom: 20px;
  text-align: center;
} */

/* .SProfile{
  display: flex;
  flex: content;
  justify-content: center;
} */


.Name {
  margin-left: 200px;
  padding: 40px 20px;
  border-top: 90px solid #EF8732;
  margin-top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 300px);
}

.TransparentBox {
  width: 1000px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  margin-top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index: 2;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.square-button {
  appearance: none; /* Add this line */
  width: 150px;
  height: 150px;
  background-color: #8D4E7B;
  color: white;
  font-size: 20px;
  margin: 30px; 
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  flex-basis: calc(30% - 30px);
}


.square-button:hover {
  background-color: rgba(211, 211, 211, 0.7);;
}

.icon-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  flex: 1;
  text-align: center;
}