body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    height: 100vh; /* Make the container take up the full viewport height */
}
.logo {
    position: absolute;
    top: 160px;
    bottom: 100px;
    right: 0px; /* Adjust this value to move the logo to the right */
    width: 600px;
    height: 570px;
    z-index: 1;
}

h1.welcome {
    font-size: 50px;
    color: #E55204;
    margin-top: 10px; /* Adjust this value to lower the heading */
    margin-bottom: 110px;
    position: absolute;
    z-index: 2;
}



/* 
.group-benefits {
    position: absolute;
    bottom: -60px;
    left: 0;
    width:100px;
    height: auto;
    margin-top: 50px;
} */

.button {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    margin-top: 35px; 
}


.button button {
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #E55204;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button button:hover {
    background-color: #e5a904;
}



@media (max-width: 480px) {
    .home {
        justify-content: flex-start;
        padding-top: 20px;
    }

    
        .logo {
           
           width: 180px;
           height: 480px;
        }

    h1.welcome {
        font-size: 30px; 
        text-align: center; 
        margin-top: 250px; 
        position: relative;
        z-index: 2;
    }

    .button {
        position: relative; 
        margin-top: 100px; 
        text-align: center;
    }

    .button button {
        margin: 0 10px; 
    }
}