.SProfile {
  display: flex;
  background-color: #f4f4f4;
}

.Name {
  flex: 1;
  padding: 2rem;
  background: linear-gradient(to bottom, #EF8732, #fff);
  display: flex;
  justify-content: center;
  align-items: center;
}

.TransparentBox {
  width: 800px;
  height: 400px;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-left: 45px;
}

.buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.square-button {
  flex-basis: calc(33.33% - 20px);
  height: 150px;
  background-color: #8D4E7B;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
}

.square-button:hover {
  background-color: #9e6088;
}

.fa-icon {
  font-size: 3rem;
  margin-bottom: 10px;
}

.description {
  font-size: 1.2rem;
  font-weight: 500;
}
