.pallet {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 60px;
    height: 100vh;
  }
  
  .Title {
    font-size: 48px;
    background-color: #64CCC9;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: -10px;
    font-family: 'Rubik', sans-serif;
  }
  
  .form {
    margin-top: auto;
    padding: 20px;
    text-align: center;
  }
  
  .signature-box {
    margin-bottom: 20px;
  }
  
  .submit-button {
    margin-bottom: 90px;

  }
  
  .dropdown-details > summary {
    list-style: none;
  }
  
  .dropdown-details > summary::-webkit-details-marker {
    display: none;
  }
  
  .dropdown-details > summary::marker {
    display: none;
  }
  
  .dropdown-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    margin-bottom: 5px;
    background-color: #BDE3FF;
  }
  
  .dropdown-summary {
    cursor: pointer;
    font-size: 24px;
  }
  
  .dropdown-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .dropdown-box, .edit-button {
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 4px;
    margin: 5px;
    background-color: #fff;
    flex-grow: 0;
  }
  
  .edit-button {
    margin-left: auto;
    background-color: #007bff;
    color: white;
  }
  
  .submit-button{


    margin-bottom: 90px;
    padding: 10px 30px;
    background-color: #8D4E7B;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }

  .submit-button:hover{
    background-color: lightgray;

  }