/* Sidebar.css */

.sidebar-container {
  position: fixed;
  top: 180px; /* Adjust this to the height of your header */
  right: 0;
  bottom: 90px; /* Adjust this to the height of your footer */
  width: 250px;
  background-color: transparent; /* Make it transparent */
  padding: 20px;
  overflow-y: auto; /* Enable scrolling if the content exceeds the container */
  box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow on the left side */
  z-index: 9999; /* Make it appear above all other elements */
}

/* ...rest of your styles */

.sidebar-container {
  overflow-y: auto;
  scrollbar-width: none; /* For Firefox */
}

/* For Chrome, Safari, and Opera */
.sidebar-container::-webkit-scrollbar {
  display: none;
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 10px;
}

.sidebar-icon {
  margin-bottom: 10px;
}

.sidebar-text {
  text-align: center;
}

.sidebar-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.sidebar-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.sidebar-button:hover {
  background-color: #333;
}

.save-icon svg {
  font-size: 40px;
  color: #64CCC9;
}

.help-icon svg {
  font-size: 40px;
  color: #64CCC9;
}
