/* Sidebar.css */

.sidebar-container {
  position: fixed;
  top: 220px;
  right: 0;
  bottom: 80px;
  width: 250px;
  background-color: transparent; 
  padding: 20px;
  box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.1); 
  z-index: 9999; 
}


.sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 10px;
}

.sidebar-icon {
  margin-bottom: 10px;
}

.sidebar-text {
  text-align: center;
}

.sidebar-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.sidebar-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.sidebar-button:hover {
  background-color: #333;
}

.save-icon svg {
  font-size: 40px;
  color: #64CCC9;
}

.help-icon svg {
  font-size: 40px;
  color: #64CCC9;
}

/* Move the first item a bit higher */
.sidebar-item:first-child {
  margin-top: 0;  /* Change as needed */
}