/* Stepper.css */
.progress-bar {
  margin-top: 32px;
}


.stepper-container {
  text-align: center;
  margin-top: 16px;
}

.stepper-bar {
  text-align: left; /* Left-align the Stepper Bar */
  margin: 0; /* Remove any margins */
  padding: 0; /* Remove any padding */
  width: 80%; /* Make it span the entire width */
  align-self: flex-start;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.button-container button {
  margin: 0 8px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button-container button:hover {
  background-color: #0056b3;
}

.text-center {
  text-align: center;
  margin-top: 16px;
}
