}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;  
  width: 100%;
}

.button-container button {
  margin: 0 8px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #FFA500;  
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button-container button:hover {
  background-color: #FF8C00; 
}

/* Style for active step */
.MuiStepIcon-active {
  color: #FFA500 !important;
}

/* Style for completed step */
.MuiStepIcon-completed {
  color: #FFA500 !important;
}
