/* Profile.css */

/* Adjust the styles for the name and image container */
.profile-header {
    display: flex;
    align-items: center;
  }
  
  .profile-info {
    margin-right: 20px; /* Add margin for spacing between image and text */
  }
  
  .profile-picture {
    max-width: 100px;
    border-radius: 10%; /* To make the image circular */
    margin-top: 125px; /* Add margin between the image and name */
    padding-left: 25px;
  }
  
  /* Adjust the styles for the name and email container */
  .name-info {
    padding-left: 20px;
  }
  
  h1 {
    margin-top: 5px; /* Add some space between name and image */
  }
  
  /* Add styles for the corner logo */
  .cornerlogo {
    padding-left: 25px;
  }
  
  /* Adjust the styles for the bio section */
  .profile-bio {
    padding-left: 20px;
    margin-top: 20px; /* Add margin between profile info and bio */
  }
  
  /* Add styles for the button */
  .button {
    margin-top: 20px; /* Add margin above the button */
  }
  
  /* Rest of your CSS styles */
  